doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Event Makers
    link(rel='stylesheet', href='css/bootstrap.min.css')
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='/home') Employee Portal
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor02', aria-controls='navbarColor02', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarColor02.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a#lnkHome.nav-link(href='/home')
                            | Home 
                            span.sr-only (current)
                    li.nav-item
                        a#lnkEmployee.nav-link(href='/events') Events
                    li.nav-item
                        a#lnkRegisterEmployee.nav-link(href='/newEvent') Register Event
                    li.nav-item
                        a#lnkAbout.nav-link(href='/aboutus') About
                    li.nav-item
                        a#lnkContactUs.nav-link(href='/contactus') Contact Us
                    li.nav-item
                        a#lnkContactUs.nav-link(href='/login') Login
        block homePlaceHolder
        block eventsPlaceHolder
        block newEventPlaceHolder
        script(src="scripts/jquery-3.3.1.slim.min.js")
        script(src="scripts/bootstrap.min.js")
        script(src="scripts/popper.min.js")
